<div id="loginBox" class="centerBox">
	<p>Aplicação desenvolvida para atender os requisitos das matérias APS, DAW e TAW do curso de Ciência da Computação da Universidade Paulista.</p>
	<hr />
	<p>Alunos</p>
	<br />
	<p><a href="http://dianin.net.br">Paulo César Dianin Junior</a></p>
	<p><a href="#">Victoria Barbarena</a></p>
	<p><a href="#">Tatiane Jayme Dias Braga</a></p>
	<p><a href="#">Cínthia Barbosa</a></p>
</div>