html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

body,html {
    height:100%;
    overflow:hidden;
    width:100%;
}

body {
    background:url(grama.jpg) repeat-x center bottom #fff;
    color:#444;
    font-family:Arial, Verdana, Sans-Serif;
    font-size:14px;
}

a {
    color:#777;
    text-decoration:none;
}

a:hover {
    -moz-opacity:.8;
    -moz-transition:all .5s;
    -o-opacity:.8;
    -o-transition:all .5s;
    -webkit-opacity:.8;
    -webkit-transition:all .5s;
    color:#999;
    opacity:.8;
    transition:all .5s;
}

ul {
    list-style: none;
}

.clear {
    clear:both;
}

.hidden_text {
    text-indent:-9000px;
}

#main {
    border:1px solid transparent;
    height:100%;
    margin:0 auto;
    width:990px;
}

#header {
    background-color:#f6f6f6;
    border-bottom:2px solid #ccc;
    color:#777;
    font-weight:700;
    line-height:40px;
    position:absolute;
    text-align:right;
    width:100%;
}

#header > div {
    margin-right:10px;
}

/*Estilos home*/

#itTitle {
    background:url(itGeneral.jpg) no-repeat right center;
    display:block;
    height:109px;
    margin-top:50px;
    width:100%;
}

#boxArvore {
    bottom:0;
    position:absolute;
    text-align:right;
    width:990px;
}

#boxSearch {
    position:absolute;
    text-align:center;
    top:50%;
    width:600px;
}

#boxSearch > p {
    font-size:16px;
    font-weight:700;
    padding:10px;
}

.elInput {
    -ms-border-radius:7px;
    border:2px solid #999;
    border-radius:7px;
    color:#548f31;
    font-size:20px;
    font-weight:700;
    height:50px;
    padding:0 10px;
    width:420px;
}

#boxRecycle {
    bottom:0;
    font-size:16px;
    font-weight:700;
    height:100px;
    position:absolute;
    width:990px;
}

.itLixo {
    background:url(itLixo.png) no-repeat 0 0;
    bottom:5px;
    display:block;
    height:130px;
    margin-left:200px;
    position:absolute;
    width:81px;
}

#papel {
    background-position:0 0;
}

#metal {
    background-position:-81px 0;
    width:79px;
}

#plastico {
    background-position:-160px 0;
}

#vidro {
    background-position:-241px 0;
    width:79px;
}

#organico {
    background-position:-322px 0;
    width:81px;
}

#noLixo {
    height:0;
    width:0;
}

/* Estilos app */

#noticeAlert {
    margin-top:45px;
    margin-left: 4px;
    width: 99.5%;    
    text-align: center;
    line-height: 25px;
}

#noticeAlert > p {
    width: 100%;
    display: block;    
}

#noticeAlert > .notice { 
    color: green;    
    background-color: #E9F7E9;
    border: 1px solid #A7F8A8;
}

#noticeAlert > .alert { 
    color: red;
    background-color: #F7F0ED;
    border: 1px solid #F6D8CE;
}

#error_explanation {
    margin-top:10px;
    width: 100%;    
    text-align: center;
    line-height: 25px;
    border: 1px solid red;
}

.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;    
    text-align: center;
    padding: 20px;
}

#loginBox {
    width: 500px;
    height: 180px;
    margin-left: -250px;
    margin-top: -90px;
}

#passwordBox {
    width: 500px;
    height: 250px;
    margin-left: -250px;
    margin-top: -125px;
}

.alt_actions > input {
    padding: 7px;
    font-size: 17px;
}

.actions {
    font-size: 16px;
    border: 2px solid #f0f0f0;
    padding: 3px;
    font-weight: 700;
}

#actionTitle {
    padding-top: 15px;
    font-size: 16px;
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
}

#main > table {
    font-size: 16px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    border: 2px solid #f0f0f0;
}

#main > table th, #main > table td {    
    line-height: 40px;
    padding-left: 3px;
}

#main > table td {
    background-color: #f9f9f9;
}

#main > table th {
    background-color: #f0f0f0;   
}

.field_alt input {
    padding: 5px;
    width: 300px;
}

.field_alt select {
    padding: 5px;
    width: 315px;
}